<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxi.dogapi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DogApplication"
        android:allowBackup="true"
        android:icon="@drawable/left_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/left_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SurveySubmitActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.CalaTrackingActivity" />
        <activity android:name=".activities.WelcomeCalaActivity" />
        <activity android:name=".activities.WelcomeCalaVillageSurveyActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAps-7t4awJNR-DhIo8YMDqL5P7PHXBZjM" />
    </application>

</manifest>